*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid white;
    position: fixed;
    z-index: 900;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#main{
    position:relative;
    background-color:black;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 2vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}


#line1-part1 h5 ,#line1-part1 h6{
    font-size: 3vw;
    font-family:"silk serif";
    font-weight: 100;
    margin-top: 3vh;
    
}
#line1-part1 h5{
    text-align: right;
    width: 5vw; 
}

.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 10px;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    animation-name: anime; 
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    margin-top: 5px;
    
}
@keyframes anime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        color: #fff;
    }
    100%{
        font-family: "silk serif";
        color:transparent
    }
}
/* Loader css ends here */

/* Css for page 1 starts here */

#page1{
    height: 100vh;
    width: 100%;
    background-color: #191010;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 4.5vw;
}
#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    
}
#nav-part2 h1{
    font-size: 1.5vw;
    font-weight: 300;
    cursor: pointer;
}

.hero{
    /* position: relative; */
    line-height: 7vw;
    margin-left: 27vw;
    width: 60vw;
    height: fit-content;
    overflow: hidden;
    bottom: 10vh;
    position:relative;
    display: flex;
    align-items: center;
    
}
#page01{

    left:18vw;
    top:5vh;
    font-family:"silk serif";
    font-size: 4vw;
    font-weight: 300;
    position: relative;
}
.hero h1{
    font-size: 7vw;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
}
.hero h2{
    font-size: 7vw;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
}

.hero h2:hover{
    -webkit-text-stroke: 1px white;
    color:transparent;
    font-weight: 500;
}